.friendList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

.friendListItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ece6e6;
    color: #1d1c1c;
    border: 2px solid #0b0b0b;
    border-radius: 10px;
    padding: 10px;
}

.friendStatus {
    font-weight: bold;
}

.friendStatusOnline {
    color: green;
}

.friendStatusOffline {
    color: red;
}